<div class="card">
    <div class="card-header" [ngClass]="party_color">
        <h4 class="card-title">Lista de usuarios</h4>
        <p class="card-category">Información completa de usuarios registrados</p>
    </div>
    <div class="card-body">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
        </mat-form-field>

        <!--<div class="mat-elevation-z8 w-100" *ngIf="areas.length > 0;else noContent">-->
        <div class="mat-elevation-z8 w-100">
            <div class="row justify-content-end mat-elevation-z0 mt-2">
                <div class="col-2">
                    <button (click)="openAccordion()" type="button" mat-raised-button
                            class="bg-primary text-white mb-2 mt-2"
                            [ngClass]="{'bg-danger':stateButton }">
                        <mat-icon *ngIf="!stateButton;else canView">add_circle_outline</mat-icon>
                        <ng-template #canView>
                            <mat-icon>cancel</mat-icon>
                        </ng-template>
                        <span> {{getAction()}} </span>
                    </button>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Rol</th>
                    <td mat-cell *matCellDef="let element"> {{element.type | userPipe}} </td>
                </ng-container>

                <ng-container matColumnDef="party">
                    <th mat-header-cell *matHeaderCellDef> Partido</th>
                    <td mat-cell *matCellDef="let element"> {{element.politic_party_id | promoterPipe}} </td>
                </ng-container>

                <!-- Action Columns Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones</th>
                    <td mat-cell *matCellDef="let element">

                        <button type="button" (click)="editUser(element)" mat-mini-fab class="bg-success mr-1" matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button type="button" (click)="deleteUser(element.id)" mat-mini-fab class="bg-danger mr-1" matTooltip="Elimnar">
                            <mat-icon>close</mat-icon>
                        </button>

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>
