<div class="main-content">
    <div class="container-fluid animated fadeIn">
        <div class="row">
            <div class="col">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Capturados por mes</h4>
                        <p class="card-category">
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Última actualización hace 1 minutos
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Capturados por distrito</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Última actualización hace 1 minutos
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="drawChartStrucutre">
            <div class="col">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="structureChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Capturados por estrcutura</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Última actualización hace 1 minutos
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dayChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Capturados por hora</h4>
                    <p class="card-category">
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Última actualización hace 1 minutos
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Capturados por mes</h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Última actualización hace 1 minutos
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
