<div class="card animated fadeIn">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Registros de casillas</h4>
        <p class="card-category">listado de las casillas registradas hasta el momento</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button mat-raised-button (click)="removeColumn()" class="btn-draft">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
            <div class="col-md-2">
                <button mat-raised-button (click)="addColumn()" class="btn-draft">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="mat-elevation-z8 w-100">
            <div class="row justify-content-end mat-elevation-z0 mt-2">
                <div class="col-2">
                </div>
            </div>
            <div class="example-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort *ngIf="!notData">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="motherLastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Materno</th>
                        <td mat-cell *matCellDef="let element"> {{element.motherLastName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fatherLastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido Paterno</th>
                        <td mat-cell *matCellDef="let element"> {{element.fatherLastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="curp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CURP</th>
                        <td mat-cell *matCellDef="let element"> {{element.curp}} </td>
                    </ng-container>

                    <ng-container matColumnDef="electorKey">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Elector</th>
                        <td mat-cell *matCellDef="let element"> {{element.electorKey}} </td>
                    </ng-container>
                    <ng-container matColumnDef="street">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Calle</th>
                        <td mat-cell *matCellDef="let element"> {{element.street}} </td>
                    </ng-container>

                    <ng-container matColumnDef="colony">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Colonia</th>
                        <td mat-cell *matCellDef="let element"> {{element.colony}} </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Celular</th>
                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cellphone">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>No. Casa</th>
                        <td mat-cell *matCellDef="let element"> {{element.cellphone}} </td>
                    </ng-container>

                    <ng-container matColumnDef="politicalParties">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Partido</th>
                        <td mat-cell *matCellDef="let element"> {{element.political_party.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</th>
                        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                    </ng-container>

                    <ng-container matColumnDef="concerning">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Concerning</th>
                        <td mat-cell *matCellDef="let element"> {{element.concerning}} </td>
                    </ng-container>

                    <ng-container matColumnDef="district">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distrito</th>
                        <td mat-cell *matCellDef="let element"> {{element.district}} </td>
                    </ng-container>
                    <ng-container matColumnDef="municipality">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</th>
                        <td mat-cell *matCellDef="let element"> {{element.municipality}} </td>
                    </ng-container>

                    <ng-container matColumnDef="localDistrict">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Distrito local</th>
                        <td mat-cell *matCellDef="let element"> {{element.localDistrict}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                        <td mat-cell *matCellDef="let element"> {{element.type | typeManagerBoxPipe}} </td>
                    </ng-container>

                    <ng-container matColumnDef="user">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                        <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="structure">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estructura</th>
                        <td mat-cell *matCellDef="let element"> {{element.structure.structure_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="section">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sección</th>
                        <td mat-cell *matCellDef="let element"> {{element.section}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ocr">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>OCR</th>
                        <td mat-cell *matCellDef="let element"> {{element.ocr}} </td>
                    </ng-container>

                    <!-- Action Columns Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                    type="button"
                                    (click)="editBox(element)"
                                    mat-mini-fab
                                    class="bg-success mr-1"
                                    matTooltip="Editar"
                                    *ngIf="isPermission('Edit')"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button
                                    type="button"
                                    (click)="deleteBox(element.id)"
                                    mat-mini-fab
                                    class="bg-danger"
                                    matTooltip="Eliminar"
                                    *ngIf="isPermission('Delete')"
                            >
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                <div align="center">
                    <h3 *ngIf="notData">Aún no hay información para mostrar</h3>
                </div>

            </div>
        </div>
    </div>
</div>
