.margen {
    margin-top: 60px;
}

.active-device {
    color: rgba(51, 199, 70, 1);
    cursor: pointer;
}


.disabled-device {
    color: rgba(195, 35, 35, 1);
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

agm-map{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 400px;
}

