<div class="main-content animated fadeIn">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" [ngClass]="party_color">
                <h4 class="card-title">Nuevo candidato</h4>
                <p class="card-category">Completa la información para crear un nuevo candidato</p>
            </div>
            <app-candidate-form (onFormCandidateChange)="onFormCandidateChangeEvent($event)"></app-candidate-form>

            <div class="d-flex flex-row-reverse">
                <button mat-raised-button type="button" (click)="submit()" class="btn btn-danger pull-right"
                        [disabled]="!form.valid">Guardar
                    información
                </button>
                <button mat-raised-button type="button" (cancel)="cancel()" class="btn btn-danger pull-right"
                        [disabled]="!form.valid">Cancelar
                </button>
            </div>

        </div>
    </div>
</div>
