.uploadFileContainer {
  background-image: url('../../../../../assets/img/upload-image.png');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 300px;
  width: 70%;
  margin: 20px auto;
  border: 2px dashed var(--primary);
  border-radius: 10px;
}

.uploadFileContainer:hover {
  cursor: pointer;
  background-color: var(--secondary) !important;
  opacity: 0.8 !important;
  color: white;
  border-color: var(--blue);
}

.files-list {
  width: 70%;
  height: 120px;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
}

.label-container {
  text-align: center;
  margin-top: 5%;
}
