<div class="main-content animated fadeIn">
    <div class="container-fluid">
        <mat-accordion>
            <mat-expansion-panel [(expanded)]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Partidos políticos
                    </mat-panel-title>
                    <mat-panel-description>
                        Llene los campos para crear un nuevo partido político
                        <i class="fa fa-dollar ml-1"></i>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Nuevo partido político</h4>
                            <p class="card-category">Completa la información para crear un nuevo partido político</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" formControlName="name">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Secuencia</mat-label>
                                        <input matInput type="number" formControlName="sequence">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="uploadFileContainer" (click)="fileInput.click()" appDragImage
                                         (onFileDropped)="uploadFile($event)">
                                        <input hidden type="file" accept="image/*" #fileInput
                                               (change)="uploadFile($event.target.files)">
                                        <p class="label-container">Arrastre la imagen del mapa o haz click dentro del
                                            area bordeada</p>
                                    </div>
                                    <div class="row justify-content-center files-list">
                                        <div class="row justify-content-center w-100">
                                            <div class="col align-self-center">
                                                <div class="row justify-content-center">
                                                    <p> Archivo: {{ fileName }} </p></div>
                                            </div>
                                            <div class="col">
                                                <div class="row justify-content-center"><img [src]="imgURL" height="100"
                                                                                             *ngIf="imgURL"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button mat-raised-button type="button" (click)="submit()" class="btn btn-danger pull-right"
                            [disabled]="form.invalid">Guardar
                        información
                    </button>

                    <button mat-raised-button type="button" (click)="this.form.reset()"
                            class="btn btn-danger pull-right">
                        Limpiar formulario
                    </button>
                </form>
            </mat-expansion-panel>
        </mat-accordion>

        <app-political-parties-data-table [(stateButton)]="panelOpenState"
                                          (stateButtonChange)="setStatusOpenState($event)"
                                          (editItemEmitter)="editPolitical($event)">
        </app-political-parties-data-table>
    </div>
</div>
