<div class="main-content animated fadeIn">
    <div class="container-fluid">
        <mat-accordion>
            <mat-expansion-panel [(expanded)]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Promotores
                    </mat-panel-title>
                    <mat-panel-description>
                        Llene los campos para crear un nuevo promotor
                        <i class="fa fa-dollar ml-1"></i>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="card">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Nuevo promotor</h4>
                        <p class="card-category">Completa la información para crear un nuevo promotor</p>
                    </div>

                    <form [formGroup]="form" (submit)="submit()">
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Nombre Completo</mat-label>
                                        <input matInput type="text" formControlName="name">
                                        <mat-error>{{getMessageError('name')}}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Correo electronico</mat-label>
                                        <input matInput type="email" formControlName="email">
                                        <mat-error>{{getMessageError('email')}}</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Curp</mat-label>
                                        <input
                                                matInput type="text"
                                                formControlName="curp"
                                                oninput="this.value = this.value.toUpperCase()"
                                                maxlength="18"
                                                (keypress)="onPressCUPR($event)"
                                        >
                                        <mat-error>{{getMessageError('curp')}}</mat-error>
                                        <mat-error *ngIf="form.get('curp').hasError('pattern')">
                                            Formato: AAAA 000000 A AA AAA 00
                                        </mat-error>
                                        <mat-hint align="end">{{form.get('curp').value?.length}} / 18</mat-hint>
                                    </mat-form-field>
                                </div>

                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Confirmar Curp</mat-label>
                                        <input matInput type="text" formControlName="curp_confirm"
                                               oninput="this.value = this.value.toUpperCase()" maxlength="18" appBlockCopyPaste>
                                        <mat-error>{{getMessageError('curp_confirm')}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Rol</mat-label>
                                        <mat-select formControlName="type" (valueChange)="isOperator($event)">
                                            <mat-option *ngFor="let rol of roles" [value]="rol.id">
                                                {{rol.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>{{getMessageError('type')}}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Operador</mat-label>
                                        <mat-select formControlName="promoter_id">
                                            <mat-option *ngFor="let operator of operatorsUse" [value]="operator.id">
                                                {{operator.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>{{getMessageError('type')}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Distrito federal</mat-label>
                                        <mat-select formControlName="district" (valueChange)="changeDistrict($event)">
                                            <mat-option *ngFor="let district of districts" [value]="district">
                                                {{district}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>{{getMessageError('district')}}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Municipio</mat-label>
                                        <mat-select formControlName="municipality"
                                                    (valueChange)="changeMunicipality($event)">
                                            <mat-option *ngFor="let municipality of municipalities | keyvalue"
                                                        [value]="municipality.key">
                                                {{municipality.key}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>{{getMessageError('municipality')}}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Sección</mat-label>
                                        <mat-select formControlName="section" (valueChange)="changeSection($event)">
                                            <mat-option *ngFor="let section of sections | keyvalue"
                                                        [value]="section.key">
                                                {{section.key}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>{{getMessageError('section')}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Dirección seleccionada de google maps</mat-label>
                                        <input matInput type="text" formControlName="address">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Latitud</mat-label>
                                        <input matInput type="text" formControlName="lat">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Longitud</mat-label>
                                        <input matInput type="text" formControlName="long">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Buscar dirección:</mat-label>
                                        <input matInput type="text"
                                               (keydown.enter)="$event.preventDefault()"
                                               autocorrect="off"
                                               autocapitalize="off"
                                               spellcheck="off"
                                               #search>
                                    </mat-form-field>
                                    <agm-map
                                            [latitude]="latitude"
                                            [longitude]="longitude"
                                            [zoom]="zoom">
                                        <agm-marker [latitude]="latitude" [longitude]="longitude"
                                                    [markerDraggable]="true"
                                                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                                    </agm-map>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <button mat-raised-button type="button" (click)="submit()" class="btn btn-danger pull-right"
                        [disabled]="!form.valid">Guardar
                    información
                </button>


            </mat-expansion-panel>
        </mat-accordion>

        <app-promoters-data-table [(stateButton)]="panelOpenState" (stateButtonChange)="setStatusOpenState($event)"
                                  (editItemEmitter)="edit($event)"></app-promoters-data-table>

    </div>
</div>
