<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Partidos políticos</h4>
        <p class="card-category">Información de todos los partidos políticos registrados</p>
    </div>
    <div class="card-body">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
        </mat-form-field>

        <!--<div class="mat-elevation-z8 w-100" *ngIf="areas.length > 0;else noContent">-->
        <div class="mat-elevation-z8 w-100">
            <div class="row justify-content-end mat-elevation-z0 mt-2">
                <div class="col-2">
                    <button (click)="openAccordion()" type="button" mat-raised-button
                            class="bg-primary text-white mb-2 mt-2"
                            [ngClass]="{'bg-danger':stateButton }">
                        <mat-icon *ngIf="!stateButton;else canView">add_circle_outline</mat-icon>
                        <ng-template #canView>
                            <mat-icon>cancel</mat-icon>
                        </ng-template>
                        <span> {{getAction()}} </span>
                    </button>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" *ngIf="!notData">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="sequence">
                    <th mat-header-cell *matHeaderCellDef> Secuencia</th>
                    <td mat-cell *matCellDef="let element"> {{element.sequence}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total</th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <!-- Action Columns Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" (click)="editPolitical(element)" mat-mini-fab class="bg-success mr-1"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" (click)="deletePolitical(element.id)" mat-mini-fab class="bg-danger"
                                matTooltip="Eliminar">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 100]" *ngIf="!notData"></mat-paginator>

            <div class="mat-elevation-z8 w-100" *ngIf="notData">
                <h2 align="center">No hay información para mostrar</h2>
            </div>
        </div>
    </div>
</div>
