.container_father {
  background: #50212F;
  color: white;
  -webkit-box-shadow: 10px 10px 7px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 7px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 7px 1px rgba(0, 0, 0, 0.25);
}

.container__section {
  background: white;
  color: black;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
  padding: 20px;
}

.container-party__list {
  display: flex;
  flex-direction: column;
  height: 52px;
  margin-top: 10px;
  background: rgb(80, 32, 46, 0.80);
  border: 1px dotted white;
}

.box-party {
  border: black 1px solid;
  color: white;
  height: 26px;
  font-size: 0.75em;
  //border: 1px solid rgb(0, 0, 0, 0.8);
  //background: rgb(0, 0, 0, 0.3);
  border-radius: 3px;
}

.cdk-drag-preview {
  height: 26px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
}


