<div class="main-content animated fadeIn">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" [ngClass]="party_color">
                <h4 class="card-title">Ayuntamiento</h4>
                <p class="card-category">Completa la información para crear un nuevo ayuntamiento</p>
            </div>
            <!--forms-->
            <form [formGroup]="form">
                <div class="card-body">
                    <div class="container">
                        <h5 class="ml-3 font-weight-bold">Datos de elector</h5>
                        <div class="row">


                            <div class="col-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Distrito</mat-label>
                                    <mat-select formControlName="district" (valueChange)="changeDistrict($event)">
                                        <mat-option [value]="district" *ngFor="let district of data?.districts">
                                            {{district}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{getMessageError('district')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Municipio</mat-label>
                                    <mat-select formControlName="postulate_id" (valueChange)="changeMunicipality($event)">
                                        <mat-option *ngFor="let municipality of data?.municipalities[district]"
                                                    [value]="municipality.id">
                                            {{municipality.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{getMessageError('postulate_id')}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-4">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Cargo</mat-label>
                                    <mat-select formControlName="postulate" (valueChange)="setSizeStepper($event)">
                                        <mat-option [value]="charge.id" *ngFor="let charge of charges">
                                            {{charge.value}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>{{getMessageError('postulate')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <!--                        <hr>-->

                    </div>

                    <mat-horizontal-stepper linear="true" #stepper>
                        <mat-step *ngFor="let dummy of controlsArray; let i = index"
                                  [stepControl]="candidatesFormArray?.controls[i]"
                                  [completed]="candidatesFormArray.controls[i]?.valid">
                            <div class="container" formGroupName="candidates">
                                <h5 class="ml-3 font-weight-bold">Propietario</h5>
                                <hr>
                                <app-candidate-form
                                        (onFormCandidateChange)="pushOwnerArray($event, i)"></app-candidate-form>
                                <h5 class="ml-3 font-weight-bold">Suplente</h5>
                                <hr>
                                <app-candidate-form
                                        (onFormCandidateChange)="pushAlternateArray($event, i)"
                                        [isRequired]="false"
                                        [gender]="candidatesFormArray.value[i]?.owner?.gender"></app-candidate-form>
                            </div>
                            <div>
                                <button mat-raised-button matStepperPrevious *ngIf="i">Anterior</button>
                                <button mat-raised-button color="accent" matStepperNext
                                        *ngIf="i < (sizeStepper - 1)">Siguiente
                                </button>
                                <button mat-raised-button class="pull-right btn-block mt-2"  color="primary" (click)="submit()">Enviar
                                </button>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </form>

        </div>
    </div>
</div>
