<div class="main-content animated fadeIn">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" [ngClass]="party_color">
                <h4 class="card-title">Lista de candidatos</h4>
                <p class="card-category">Información de candidatos</p>
            </div>

            <div class="card-body">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="father_lastname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Paterno</th>
                        <td mat-cell *matCellDef="let element"> {{element.father_lastname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="mother_lastname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Materno</th>
                        <td mat-cell *matCellDef="let element"> {{element.mother_lastname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nickname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apodo</th>
                        <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date_birth">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Nacimiento</th>
                        <td mat-cell *matCellDef="let element"> {{element.date_birth}} </td>
                    </ng-container>

                    <ng-container matColumnDef="elector_key">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Clave Elector</th>
                        <td mat-cell *matCellDef="let element"> {{element.elector_key}} </td>
                    </ng-container>

                    <ng-container matColumnDef="postulate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Postulado</th>
                        <td mat-cell *matCellDef="let element"> {{element.postulate | postulatePipe}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type_postulate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                        <td mat-cell *matCellDef="let element"> {{element.type_postulate | typePostulate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="politic_party_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patido</th>
                        <td mat-cell *matCellDef="let element"> {{element.politic_party_id | promoterPipe}} </td>
                    </ng-container>

                    <!-- Action Columns Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td mat-cell *matCellDef="let element">

                            <button type="button" (click)="generateFormat(element.id)" mat-mini-fab class="bg-primary mr-1"
                                    matTooltip="Generar formato">
                                <mat-icon>task</mat-icon>
                            </button>

                            <button type="button" (click)="edit(element.id)" mat-mini-fab class="bg-success mr-1" matTooltip="Editar">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button type="button" (click)="delete(element.id)" mat-mini-fab class="bg-danger mr-1"
                                    matTooltip="Elimnar">
                                <mat-icon>close</mat-icon>
                            </button>

                            <button type="button" (click)="complete_ine(element)" mat-mini-fab class="bg-danger mr-1"
                                    matTooltip="Completar datos INE">
                                <mat-icon>description</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>
